<form  style="margin-top: 2%;" action = "/add-user" method = "POST" >
    <div class="row">
        <div class="input-field col s6">
            <input class="adInput" type="text" placeholder="Заполните поле" name="adName" id="adName">
            <label style="font-size: 18px;" for="adName">Имя</label>
        </div>
       <div class="input-field col s6">
            <input class="adInput" type="text" placeholder="Заполните поле" name="adSurname" id="adSurname">
            <label style="font-size: 18px;" for="adSurname">Фамилия</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input class="adInput" type="email" placeholder="Заполните поле", name="adEmail" id="adEmail">
            <label style="font-size: 18px;" for="adEmail">E-mail участника</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input class="adInput" type="password" placeholder="Заполните поле", name="adPassword" id="adPassword">
            <label style="font-size: 18px;" for="adPassword">Пароль</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input class="adInput" type="password" placeholder="Заполните поле", name="adRPassword" id="adRPassword">
            <label style="font-size: 18px;" for="adRPassword">Повторить пароль</label>
        </div>
    </div>
</div>  

</form>