<%- include('../layouts/navbar.ejs')%>
    <main class="user-dashboard"> 
         <div class="container">
            <section id="tables">
<%- include('../accepted/manip')%>
            </section>
        </div>
    </main>
<%- include('../layouts/footer.ejs') %>