<%- include('../layouts/navbar.ejs')%>



    <main class="user-dashboard"> 
   
          <div class="container">
            <h1 class="title1 center"> <span class="owncolor">Участники</span> без команды</h1>
            <div class="row">
                <div id="user-info" class="col s12 m4">
                    <div class="card">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1508921340878-ba53e1f016ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
                        <span class="card-title">ФИО</span>
                    </div>
                    <div class="card-content">
                        <p>Немного информации о себе чтобы узнать больше
                        о человеке который подал заявку и узнать еще</p>
                    </div>
                    <div class="card-action">
                        
                        <!-- Modal Trigger -->
                        <a class="modal-trigger more" href="#modal1">Читать далее</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <div class="madal-head ">
                                        <h4>Modal Header</h4>
                                </div>
                            
                            <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                
            </div>       

            
          </div>
  
    </main>



<%- include('../layouts/footer.ejs') %>