
<%- include('../layouts/navbar.ejs')%>
    <div class="teamMateInfo">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                <i class="far fa-address-book"></i>
                    <h6>Личные данные</h6>
                </div>
                <div class="col s12 m4">
                <i class="fas fa-briefcase"></i>
                    <h6>Опыт</h6>
                </div>
                <div class="col s12 m4">
                    <h6>Навыки</h6>
                </div>
            </div>
        </div>
    </div>
<%- include('../layouts/footer.ejs') %>
