<%- include('../layouts/navbar.ejs')%>
    <div class="container">
        <form>
            <div class="container loginForm">
                <p>
                     <h5 class="center" style="font-weight: bold;"> Вход </h5>
                    <input  id="autocomplete-input" class="autocomplete" type="text" name="username" placeholder="Логин"> <br />
                    <input  id="autocomplete-input" class="autocomplete" type="text" name="username" placeholder="Пароль"> 
                    <button class="admSubmit" type="submit"> Submit</button>
                </p>
            </div>
        </form>
    </div>
<%- include('../layouts/footer.ejs') %>