<%- include('../layouts/navbar.ejs')%>
    <div  id="loginForm">
        <form action="/user-login", method="POST">
            <div class="container loginForm">
                <p>
                    <div class ="  row">

                        <div class=" col s12 m6">
                                <img src="./image/man.png" class="her"/>
                         </div>

                        <div class="col s12 m6">
                            <h5 class="center mobileTitle" > Вход </h5>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix" type="text" class="validate" name="adminEmail">
                                        <label for="icon_prefix">E-mail</label>
                                </div>

                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="icon_password" type="password" class="validate " name="adminPassword">
                                    <label for="icon_password">Пароль</label>
                                </div>
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button class="right loginButton"  type="submit">Войти</button>
                        </div>
                    </div>
                </p>
            </div>
        </form>
    </div>
<%- include('../layouts/footer.ejs') %>