<footer class="page-footer mobileFooter ">
<div class="container ">
    <div class="row ">
        <div class="col l3 s12 ">
            
        </div>
        <div class="col l6 s12 ">
            <div class="footer-copyright ">
                <div class="copy container center ">
                   <a href="https://www.instagram.com/foxbuka/" class="brand"> @FOXBUKA </a> <span class="year">2019 г.</span>
                </div>
            </div>
        </div>
        <div class="col l3 s12 ">
            <!-- <h5 class="white-text ">#Контакты<span class="fio">Вектор</span></h5> -->
            <div class="media container ">
                <ul class="press center ">
                    <li>
                        <a target="_blank" class="social text " href="https://vk.com/vectorskfo ">
                            <i class="vk fab fa-vk "></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="social text " href="https://www.instagram.com/vectorskfo/?utm_source=ig_profile_share&igshid=1sp1h4usuu7u3">
                            <i class="inst fab fa-instagram"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
<script src="/js/materialize.js "></script>
<script src="/js/init.js "></script>
</body>

</html>