<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/her.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/layout/black-yellow.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">


    <% if (pageTipe === "mobileLogin") { %>
        <link href="/css/mobile.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <% } %>
    <!-- Fivicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icons//favicon-16x16.png">
    <link rel="manifest" href="./icons/site.webmanifest">
    <link rel="mask-icon" href="./icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <!-- Navbar - navigation menu -->
    
        <div class="navbar-fixed">
        
        <nav class="if <%= pageTipe === 'users' || pageTipe === 'admin' || pageTipe==='prof'? 'navanim' : 'limem' %>" role="navigation">
        <% if (pageTipe != "adminIn") { %>   
        <div class="nav-wrapper container">
        <% } %>
            <% if (pageTipe === "mobileLogin") { %>
                <a id="logo-container" href="/" class="brand-logo"> <img src="./image/fakelogo.png" style="width:100px;"
                alt=""></a>
                
            <% } else if( pageTipe === "users" || pageTipe === "admin" || pageTipe === "adminIn" ) { %>
                <a id="logo-container" href="/admin/adminPage" class="brand-logo"><img src="/image/fakelogo.png" style="width:100px;"
                alt=""></a>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                <% } %>
                </a>

                <!-- PC Navbar for users -->

                <% if(pageTipe === "users") { %>

                <ul class="right hide-on-med-and-down">

                    <li><a class="menu" href="#aboutvector">О нас</a></li>
                    <li><a class="menu" href="#info">О проекте</a></li>
                    <li><a class="menu" href="#about">Программа</a></li>
                    <li><a class="menu" href="#team">Команда</a></li>
                    <li><a class="menu" href="#contacts">Контакты</a></li>
                    
                </ul>

                <!-- PC Navbar for admin -->
                
                <% } else if (pageTipe === "admin"){ %>

                <ul class="right hide-on-med-and-down">

                    <li><a class="menu" href="#aboutvector">О нас</a></li>
                    <li><a class="menu" href="#info">О проекте</a></li>
                    <li><a class="menu" href="#about">Программа</a></li>
                    <li><a class="menu" href="#team">Команда</a></li>
                    <li><a class="menu" href="#contacts">Контакты</a></li>

                   <li>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <a class='menu dropdown-trigger ' href='#' data-target='dropdown1'>Войти</a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <form class="log" action="/login", method="POST"> 
                                    <div class="container">
                                        <p>
                                            <h5 class="center" style="font-weight: bold;"> Вход </h5>
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                <input  id="autocomplete-input" class="autocomplete" type="text" name="adminEmail" placeholder="E-mail"> <br />
                                                <input  id="autocomplete-input" class="autocomplete" type="password" name="adminPassword" placeholder="Пароль"> 
                                            <button class="admSubmit" type="submit"> Submit</button>
                                        </p>
                                    </div>
                                </form>
                            </ul>
                    </li>
                </ul> 

            <!-- AdminIn Version -->    
                
            <% } else if(isAuthenticated) { %>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/admin/adminPage"> <i class="far fa-list-alt"></i>Утврждение</a></li>
                    <li><a href="/admin/adminTeam"><i class="far fa-address-card"></i>Сотрудники</a></li>
                    <li><a href="/admin/adminGroup"><i class="fas fa-users"></i>Команды</a></li> 
                    <li><a href="/admin/adminPar"><i class="far fa-user"></i>Участники</a></li>
                    <li><a href="/admin/admins"><i class="fas fa-plus"></i></i>Админ</a></li>
                    <form id="logOut" action="/logout" method="POST">  
                        <li>  
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <a href="javascript:{}" onclick="document.getElementById('logOut').submit();"> <i class=" fas fa-sign-out-alt"></i>Выход</a>
                        </li>
                    </form> 
              </ul>
            
                  <ul class="adminUl right hide-on-med-and-down">
                    <!-- Dropdown Trigger -->
                    <li><a class='aminIcon dropdown-trigger ' href='#' data-target='dropdown1'><i style="font-size: 30px;" class="far fa-user-circle"></i></a> </li> 
                  </ul>

                <% } else if(pageTipe === "mobileLogin") { %>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="menu" href="/">Главная</a></li>
                    </ul>
            <% } %>



        </div>
    </nav>
</div>

        <!-- Nav Mobile -->
    
        <ul id="nav-mobile" class="sidenav">

        <!-- Mobile navbar fro users -->

        <% if(pageTipe === "users") { %>

            <li><a class="menu" href="#team">О нас</a></li>
            <li><a class="menu" href="#info">О проекте</a></li>
            <li><a class="menu" href="#about">Программа</a></li>
            <li><a class="menu" href="#team">Команда</a></li>
            <li><a class="menu" href="#contacts">Контакты</a></li>

        <!-- Mobile navbar for admin -->

        <% } else if (pageTipe === "admin"){ %>

            <li><a class="menu" href="#team">О нас</a></li>
            <li><a class="menu" href="#info">О проекте</a></li>
            <li><a class="menu" href="#about">Программа</a></li>
            <li><a class="menu" href="#team">Команда</a></li>
            <li><a class="menu" href="#contacts">Контакты</a></li>
            <li>><a class="menu", href = "/mobileLogin" >Войти</a></li>

         <% } else if(pageTipe === "adminIn") { %>
               
            <li><a class="menu" href="#aboutvector">Участники</a></li>
            <li><a class="menu" href="#aboutvector">Команды</a></li>
            <li><a class="menu" href="#aboutvector">Выход</a></li>
        <% } %>
    </ul>   
</div>

    <!-- Header with a navigation -->

 