.mobileFooter{ position: absolute; bottom: -50%; width: 100%; left: 0; border-top: 1px solid white; }
#loginForm{  min-height:100%; }
.loginForm{ padding: 10% 7% 10% 7%; margin-top: 5%; background-color: white; border-radius: 3%;}
.loginButton{ background-color: #f2d243; border: none; color: white; padding: 10px 20px 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px; font-weight: bold; margin: 30px 2px; border-radius: 8px; }
.mobileTitle{ font-weight: bold; color: black; margin-bottom: 6%;}
body{
   
    background-color:#edeeef;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

.her{
    object-fit: cover;
    width: 80%;
    border-radius: 50%;
    
 


}

@media only screen and (max-width: 1200px) { .loginForm{ padding: 0% 20% 0% 20%; margin-top: 10%;} }

    
@media only screen and (max-width: 992px) {  .loginForm{ padding: 0% 20% 0% 20%;  margin-top: 30%;} }
   
@media only screen and (max-width: 600px) { .loginForm{  margin-top: 40%; padding: 0% 20% 0% 20% } }
    