/* A structure of our web page */

/* Just elements */
*{
    margin: 0%;
    padding: 0
}
body { background:#f8f8f8; margin: 0; padding: 0; width: 100%; display: flex; min-height: 100vh; flex-direction: column; height: 100%;}
img { max-width: 100%;height: auto; }
nav { top: 0; left: 0; height: 90px; z-index: 1; background: rgb(7, 7, 7, 0); color: white; font-weight: bold; text-transform: uppercase; box-sizing: border-box; padding-top: 10px; box-shadow: none; transition: 1s; }
nav.limem { top: 0;left: 0; z-index: 1; background-color: rgba(31, 29, 29, 1  ); color: white; padding-top: 0px; height: 70px; box-shadow: #263238; border-bottom: 1px solid white; }
nav ul a, nav .brand-logo { color: white; }
nav .brand-logo { color: white; }
video { z-index: -1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; }
header { margin-top: -5%;  height: 107vh; background: linear-gradient( to right bottom, rgba(19, 19, 19, 0.9), rgba(17, 17, 17, 0.6)); background-size: cover; background-position: top; position: relative; border-bottom: 1px solid white; }
footer.page-footer { font-family: "Open Sans", sans-serif;  }
main { flex: 1 0 auto; }
hr { border-top: 1px solid rgba(242, 210, 67, 0.4); width: 80%; margin-top: -15px; margin-left: 10%;}

/* Classes of structure*/

.linkElement{ margin: 12% 0% 12% 0%; }
.userBio{ margin-top: -7%; padding: 0% 15% 0% 15%; }
.rowCont{ margin-top:2%; text-align: center; }
.memuAdmin {font-size: 14px; font-family: "Russo One", sans-serif; }
.memuAdmin:hover {font-size: 14px; font-family: "Russo One", sans-serif; }
.modalHead{ padding-top: 60px; background-image: linear-gradient( to right bottom, rgba(27, 27, 26, 0.9), rgba(20, 20, 20, 0.9)),url('https://images.unsplash.com/photo-1508145052393-b0328a3ab751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');background-size: cover; }
.menu { margin-right: 1px; margin-top: -11px; padding-top: 9px; padding-bottom: 8px; transition: 1s;font-family: "Russo One", sans-serif; }
.menu:hover { color: rgb(44, 50, 74, 0.8); background-color: white; }
.heading-primary-main { display: block; font-size: 26px; font-weight: 400; letter-spacing: 5px; }
.sidenav { background: rgb(0, 0, 0, 0); width: 50%; margin-top: 70px; }
.sidenav li { border-bottom: 1px solid rgb(56, 51, 51); padding: 10px 0 0 0; }
.video-background { position: absolute; right: 0; bottom: 0; min-width: 100%; max-width: 100%; width: auto; height: auto; z-index: -1; }
.text-box { position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);text-align: center; }
.card-item { padding: 8px 0px 40px 0px; }
.itempro { padding: 7%; }
.card-item h2 { margin-bottom: 10%; }
.def { text-align: center; color: rgba(59, 55, 55, 0.8); font-size: 18px; padding: 1px 5% 5% 5%; font-weight: bold; font-family: "Open Sans", sans-serif; }
#statistic { position: relative; min-height: 500px; background-image: linear-gradient( to right bottom, rgba(19, 19, 19, 0.9), rgba(8, 8, 8, 0.9) ), url("../image/static.jpg"); background-attachment: fixed; background-size: cover; width: 100%; }
.numbers { margin: 10% 0% 15% 0%; }
.admSubmit{ display: none; }
.register { position: relative; min-height: 700px; background-image: linear-gradient( to right bottom, rgba(14, 13, 13, 0.9), rgba(19, 19, 18, 0.9) ), url("../image/reg.jpg"); background-attachment: fixed; background-size: cover; }
.register #top { position: absolute; top: 0; width: 100%; height: 10vw; fill: white; }
.register #bot { position: absolute; bottom: 0; width: 100%; height: 10vw; fill: white; }
.reg-card { background-color: rgba(7, 7, 7, 0); }
.card-action .regbutton { margin-left: 35%; }
.register .title { padding-top: 12%; }
.defenition { width: 100%; padding: 10%; margin-left: 10%; margin-top: 15%; height: 90%; margin-bottom: 30%; cursor: auto; }
.defabout { text-align: left; color: rgba(59, 55, 55, 0.8); font-size: 18px; padding: 1px 3% 2% 3%; font-weight: bold; font-family: "Open Sans", sans-serif; }
.team { padding-top: 100px; }
.team-table{margin: 5% 0% 5% 0%;}
.adminInt  {display:inline;  cursor: pointer; margin-right: 10px;}

.mamber:hover { cursor: default; border: 3px solid rgba(255, 255, 255); }
.social { margin-right: 10px; }
.copy { padding: 3%; font-size: 18px; }
.fab { margin-bottom: 20px; }
.page-footer { background-color: rgb(0, 0, 0);}
.press li { list-style: none; display: inline-block;margin-top: 13%; }
.spons { width: 100%;}
.error{ margin:  22% 0% 22% 0% }
.adminPhoto {width: 50px; margin-top: 10px; margin-left: 20px; border: 2px solid #f2d243;}
.navManip {margin-right: 20%;}
.aminIcon{color:#f2d243; font-size: 20px; margin-top: 5px; height: 62px; }
.adminUl{ margin-right: 5%; }
.adminDrop{ margin-top: -30px;}
.log{padding:10% 5% 15% 5%;}
/* Ides of Structure */

#index-banner { height: 700px; z-index: 0; }
#user-info{ margin: 0% 0% 10% 0%; }
#nav-icon1 { width: 20px; height: 10px; position: relative; margin: 20px auto; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; cursor: pointer; }
#nav-icon1 span { display: block; position: absolute; height: 2px; width: 100%; background: white; border-radius: 8px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; -o-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out; }
#nav-icon1 span:nth-child(1) { top: 5px; }
#nav-icon1 span:nth-child(2) { top: 10px; }
#nav-icon1 span:nth-child(3) { top: 15px; }
#nav-icon1.open span:nth-child(1) { top: 18px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
#nav-icon1.open span:nth-child(2) { opacity: 0; left: -60px; }
#nav-icon1.open span:nth-child(3) { top: 18px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }
#sidenav { margin-left: 300px; z-index: 999; }
#aboutvector { margin-top: 50px; }
#about { position: relative; min-height: 570px; background-image: linear-gradient( to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)); margin: 0% 0px 5% 0px; }
#team { position: relative; min-height: 1100px; background-image: linear-gradient( to right bottom, rgba(0, 0, 0, 0.9), rgba(26, 25, 24, 0.9)), url("../image/team.jpg"); background-attachment: fixed; background-size: cover; } 
#team #top { position: absolute; top: 0; width: 100%; height: 10vw; fill: white; }
#team #bot { position: absolute; bottom: 0; width: 100%; height: 10vw; fill: white; }
#partners { margin: 0% 0% 10% 0%; }
#rsm { margin-top: 5%; }
#logo-container { margin-left: 10%;}

/* Media */

@media only screen and (max-width: 1200px) { 
.defenition { width: 100%;  padding: 2%; margin-top: 54%; margin-left: 7%; height: 90%; cursor: auto; } 
.defabout { text-align: left; margin-bottom: 20%; color: rgba(59, 55, 55, 0.8); font-size: 17 px; padding: 1px 1% 2% 1%; font-weight: bold; font-family: "Open Sans", sans-serif; } }
@media only screen and (max-width: 992px) { 
#index-banner .section { top: 10%; } 
.btn-large { margin-left: 10px; } 
.defenition { width: 100%; padding: 2%; margin-top: 59%; margin-left: 7%; height: 90%; cursor: auto; } 
.defabout { text-align: left; margin-bottom: 20%; color: rgba(59, 55, 55, 0.8); font-size: 17 px; padding: 1px 1% 2% 1%; font-weight: bold; font-family: "Open Sans", sans-serif; }
.statitle { color: white; font-size: 35px; padding: 10%; font-weight: bold; font-family: "Russo One", sans-serif; text-shadow: 1px 1px 2px #000000; margin-top: 15%; } }
@media only screen and (max-width: 600px) {
 hr { border-top: 1px solid rgba(242, 210, 67, 0.4); width: 80%; margin-top: -15px; margin-left: 10%; }
.defenition { width: 100%; padding: 10%; margin-top: 20%; margin-bottom: 20%; margin-left: 0%; height: 90%; cursor: auto; }
.defabout { text-align: center; color: rgba(59, 55, 55, 0.8); font-size: 17px; padding: 1px 3% 2% 3%; font-weight: bold; font-family: "Open Sans", sans-serif; } }
.year { cursor: default; margin-right: 1px; margin-top: -11px; padding-top: 9px; padding-bottom: 8px; transition: 1s;font-family: "Russo One", sans-serif; }
/* Font Face */

@font-face { font-family: "Brody"; font-style: normal; font-weight: normal; src: local("Brody"), url("../fonts/BRODY.woff") format("woff"); }


/*Scrollbar*/

.user-dashboard ::-webkit-scrollbar { width: 12px; }
.user-dashboard ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  border-radius: 10px; }
.user-dashboard ::-webkit-scrollbar-thumb { border-radius: 10px; background: rgb(242, 210, 67); -webkit-box-shadow: inset 0 0 6px rgb(242, 210, 67); }
.landding-page ::-webkit-scrollbar { width: 12px; }
.landding-page ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  border-radius: 10px; }
.landding-page ::-webkit-scrollbar-thumb { border-radius: 10px; background: rgb(242, 210, 67); -webkit-box-shadow: inset 0 0 6px rgb(242, 210, 67); }