<div class="row">
<div  class="col s12 m6">
    <p>
        <label>
            <a href="/admin/accepted-team" class="table-manip"> <i class="far fa-circle"></i> Участники </a>
        </label>
        <label>
            <a href="" class="table-manip"><i class="far fa-circle"></i> Команды </a>
        </label>
        <label>
            <a href="" class="table-manip"><i class="far fa-circle"></i> Тренеры </a>
    </label>
    </p>
</div>
<div  class="col s12 m6">
        Тут будет поиск и удаление целой таблицы
</div>