 <%- include('../layouts/navbar.ejs')%>
 <header>

 <!-- Divide navbar for 2 type of users -->
         <div class="text-box">
         <h1 class="heading-primary">
             <span class="heading-primary-main">
                 <h2 class=" video-title">Межрегиональный
                     лагерь
                     студенческого
                     самоуправления и
                     личностного
                     развития <p><span class="vector"> <br>«Вектор»
                         </span> </p>
                 </h2>
             </span>
             <span class="heading-primary-sub">
                 <h6 class="subtitle-video header col s12 light">6-10 октября, Пятигорск, база «Машук» </h6>
             </span>
                  <a href="#register" class="smooth"> <button class="regbutton"> <span class="regword">Регистрация</span></button></a>
             </p>
         </h1>
     </div>
         <video id="video" poster="./image/poster.jpg" playsinline autobuffer autoplay muted loop>
             <source src="./video/vector.mp4" type="video/mp4">
         </video>
     </div>
    
     </div>
</header>
 <!-- About vector and team -->

 <section id="aboutvector">
 <div class="container">
     <div class="row">
         <div class="col s12 m5">
             <h4 class="title1 center "> <span class="owncolor">О нас</span> </h4>
             <div class="center">
                 <p class="defabout light">Межрегиональный лагерь студенческого самоуправления и личностного
                     развития СКФО
                     «Вектор» -
                     ежегодное мероприятие, позволяющее объединить студенческую молодежь и повысить
                     результативность работы
                     органов студенческого самоуправления в образовательных организациях округа.
                     Программа направлена на личностный рост и объединение лидеров общественного мнения в
                     молодежной среде.
                 </p>
             </div>
         </div>
         <div class="col s12 m7">
             <div class="container-wrap">
                 <img class="defenition" src="./image/pro5.jpg">
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Statistic  -->
<section id="statistic">
 <div class="statistic">
     <div class="container-wrap">
         <div class="row">
             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">5 <br> лет</h6>
                     <hr>
                     <h5 class="center statinfo"> Время реализации <br> проекта</h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">450+ <br> лидеров</h6>
                     <hr>
                     <h5 class="center statinfo"> Прошли обучение <br>в рамках лагеря </h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">20+ <br> экспертов</h6>
                     <hr>
                     <h5 class="center  statinfo"> Приняли участие в образовательной <br> программе </h5>
                 </div>
             </div>

         </div>
     </div>
 </div>
 </div>
</section>


<!--Info about section-->

<section id="
         infoa">
 <div id="info" class="camppro">
     <div class="section section-icons lighten-4 center\">
         <div class="container">
             <div class="row">
                 <h3 class="title1 center "> <span class="owncolor">Про</span>лагерь
                 </h3>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-graduation-cap"></i></span>
                         </h2>
                         <h5 class="subtitle center">Обучение</h5>
                         <p class="def light">Студенческое самоуправление и технология организации выборов
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="far fa-star"></i></span>
                         </h2>
                         <h5 class="subtitle center">Личностный рост</h5>
                         <p class="def light">Развитие личностных компетенций
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="far fa-handshake"></i></span>
                         </h2>
                         <h5 class="subtitle center">Проекты</h5>
                         <p class="def light">Проектная сессия по развитию студенческого сообщества
                         </p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-cogs "></i></span>
                         </h2>
                         <h5 class="subtitle center">Ассессмент</h5>
                         <p class="def light">Оценка компетенций и рекомендации по их дальнейшему развитию
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"> <i class="fas fa-users "></i></span>
                         </h2>
                         <h5 class="subtitle center">Деловые игры</h5>
                         <p class="def light">Высокая интерактивность программы
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-grin-tears"></i></span>
                         </h2>
                         <h5 class="subtitle center">Эмоции</h5>
                         <p class="def light">Яркие впечатления, новые знакомства, интересное общение
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Register section -->

<section id="register">
 <div class="register">
     <div class="container-wrap">
         <h3 class="title center flow-text"><span class="owncolor">Прими</span> участие</h3>
         <div class="row">
             <div class="col s12 m6">
                 <div class="center">
                    <span class="card-title center subtitle">ЗАРЕГИСТРИРОВАТЬСЯ КАК КОМАНДА</span>
                    <h5 class="center reginfo"> Команда образовательной организации (5 человек) сможет пройти
                         проектную
                         сессию и составить дорожную карту развития своего объединения</h5>
                    <div class="center">  
                    <button data-target="modal1"  class="regbutton modal-trigger">Подать заявку</button>

<!-- Modal Structure -->

<!-- Register for group of people -->
                        <div id="modal1" class="modal">                          
                                <div class="modal-content" style="text-align: left">
                                    <h5 class="regTitle">Межрегиональный лагерь студенческого самоуправления и личностного развития СКФО "Вектор - 2018": регистрация команды </h5>
                                    <p>Команда образовательной организации состоит из 4-5 участников. Для команд в рамках общей программы будет проведена проектно-стратегическая сессия, в которой они смогут проанализировать систему своей работы и выработать эффективный план дальнейшего развития своего объединения. В состав команды приглашаются лидеры студенческого самоуправления (председатели, заместители председателей советов обучающихся, координаторы направлений деятельности органа студенческого самоуправления, лидеры молодежных объединений). Приветствуется опыт участия в молодежном самоуправлении более 1,5-2 лет. </p>
                                    <form>

                                        <div class="row">
                                            <div class="input-field col s12">
                                            <input placeholder="Введите название" id="university" type="text" class="validate">
                                            <label style="font-size: 18px;" for="university">Название учебного заведения, в котором учитесь.</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите название" id="city" type="text" class="validate">
                                                <label style="font-size: 18px;" for="city">Регион, город.</label>
                                            </div>
                                        </div>
                                            
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите название" id="studentTeam" type="text" class="validate">
                                                <label style="font-size: 18px;" for="studentTeam">Наименование органа студенческого самоуправления команды</label>
                                            </div>
                                        </div>
                                           
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите ФИО" id="fio" type="text" class="validate">
                                                <label style="font-size: 18px;" for="fio">ФИО лидера команды</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите ссылку" id="link" type="text" class="validate">
                                                <label style="font-size: 18px;" for="link">Ссылки на странички в социальных сетях</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите должность" id="position" type="text" class="validate">
                                                <label style="font-size: 18px;" for="position">Должность в оссу образовательной организации лидера команды.</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите сроки" id="dateb" type="date" class="validate">
                                                <label style="font-size: 18px;" for="dateb">Дата рождения</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите сроки" id="deadlines" type="text" class="validate">
                                                <label style="font-size: 18px;" for="deadlines">Cрок нахождения в данной должности.</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <p>
                                                    <label>Cрок нахождения в данной должности. 
                                                           <p>
                                                                <input class="with-gap" name="group3" type="radio" checked />
                                                                <span>до 1 года</span>
                                                          </p>
                                                            <p>
                                                                <input class="with-gap" name="group3" type="radio" />
                                                                <span>от 1 до 2 лет</span>
                                                            </p>

                                                            <p>
                                                                <input class="with-gap" name="group3" type="radio"  />
                                                                <span>от 2 до 3 лет</span>
                                                            </p>

                                                            <p>
                                                                <input class="with-gap" name="group3" type="radio"  />
                                                                <span>3 и более лет</span>
                                                            </p>
                                                    </label>
                                                </p> 
                                                </div>
                                          </div>
                                         
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите email лидера" id="email" type="email" class="validate">
                                                <label style="font-size: 18px;" for="email">Email лидера</label>
                                            </div>
                                        </div>  
                                          
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите телефон лидера" id="phone" type="text" class="validate">
                                                <label style="font-size: 18px;" for="phone">Телефон лидера</label>
                                            </div>
                                        </div>  

                                        <div class="row">
                                          <div class="input-field col s12">
                                              <p style="color:#9e9e9e;">Перечислите сильные стороны вашего органа студенческого самоуправления? Каким проектом/направлением работы/элементом организации вы гордитесь? </p>
                                              <textarea placeholder="Введите ваш ответ" id="teamWhy" class="materialize-textarea" data-length="320"></textarea>
                                            </div>
                                        </div>   

                                        <div class="row">
                                          <div class="input-field col s12">
                                              <p style="color:#9e9e9e;">Выделите сферу (сферы) работы вашего органа студенческого самоуправления, которая, на ваш взгляд, нуждается в формировании/усилении/разработке? </p>
                                              <textarea placeholder="Введите ваш ответ" id="teamWhy" class="materialize-textarea" data-length="320"></textarea>
                                          </div>
                                        </div>   
                                  
                                          
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <p style="color:#9e9e9e;">Почему именно ваша команда должна принять участие в программе "Вектора" в этом году? </p>
                                                <textarea placeholder="Введите ваш ответ" id="teamWhy" class="materialize-textarea" data-length="320"></textarea>
                                            </div>
                                        </div>   
                                    
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <p style="color:#9e9e9e;">Укажите размеры свитшотов для вашей команды (например, 1шт. - S, 2 шт. - M и т.д.). Организаторы ничего не гарантируют, но максимально постараются учесть ваши пожелания))</p>
                                                    <input placeholder="Размер свитшотов" id="size" type="text" class="validate">  
                                            </div>
                                        </div>   

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <p style="color:#9e9e9e;">Каждый участник команды обработку и публикацию указанных в заявке персональных данных в соответствии с действующим законодательством Российской Федерации разрешает, с обработкой персональных данных все участники команды согласны и несут ответственность за достоверность представленной информации.</p>
                                                <p>
                                                    <input class="with-gap slaveAgremant" name="group3" type="radio"  />
                                                    <span>Да</span>
                                                </p> 
                                            </div>
                                        </div>  

                                    </form>
                            </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                </div>
                            </div>                                   
                        </div>
                    </div>
             </div>

<!-- Registration of a one persone -->    

             <div class="col s12 m6">
                 <div class="center">
                     <span class="card-title center subtitle">ЗАРЕГИСТРИРОВАТЬСЯ КАК УЧАСТНИК</span>
                     <h5 class="center reginfo"> Участников ожидает цикл мастер-классов<br> развития личности и
                         работа c
                         индивидуальным планом <br>развития</h5>
                     <div class="center">

                     <button  data-target="modal2"  class="regbutton modal-trigger">Подать заявку</button>
                              
                     <!-- Modal Structure -->
                    <div id="modal2" class="modal">  
                        <div class="modal-content" style="text-align: left">
                            <h5 class="regTitle">Межрегиональный лагерь студенческого самоуправления и личностного развития СКФО "Вектор - 2018": регистрация участника</h5>
                            <p>Участник программы лагеря по траектории "Личностное развитие" в рамках общей программы сможет посетить мастер-классы и проработать индивидуальный план своего развития. Для участия в данном направлении приглашаются активисты студенческого самоуправления и молодежных объединений.</p>
                            <form action="/add-paruser" method="POST">
  
                                    <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Введите название" name="parUniversity"  id="parUniversity" type="text" class="validate">
                                                <label style="font-size: 18px;" for="parUniversity">Наименование образовательной организации</label>
                                            </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Введите название" name="parCity" id="parCity" type="text" class="validate">
                                            <label style="font-size: 18px;" for="parCity">Регион, город</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Введите email" name="parEmail" id="parEmail" type="email" class="validate">
                                            <label style="font-size: 18px;" for="parEmail">E-mail участника</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Введите название" name="parPhone" id="parPhone" type="text" class="validate">
                                            <label style="font-size: 18px;" for="parPhone">Контактный телефон участника</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Введите название" name="parDate" id="parDate" type="date" class="validate">
                                            <label style="font-size: 18px;" for="parDate">Дата рождения участника</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Введите название" name="parSocial" id="parSocial" type="text" class="validate">
                                            <label style="font-size: 18px;" for="parSocial">Ссылки на странички в социальных сетях</label>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <p style="color:#9e9e9e;">Должность в оссу образовательной организации участника; срок нахождения в данной должности (если есть)?</p>
                                            <textarea placeholder="Введите ваш ответ" name="parPosition"  id="parPosition" class="materialize-textarea" data-length="320"></textarea>
                                        </div>
                                    </div>   

                                <div class="row">
                                    <div class="input-field col s12">
                                        <p>
                                            <label>Опыт участие в общественной деятельности? 

                                                <p>
                                                    <input class="with-gap" name="parExp" type="radio" checked />
                                                    <span>до 1 года</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parExp" type="radio" />
                                                    <span>от 1 до 2 лет</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parExp" type="radio"  />
                                                    <span>от 2 до 3 лет</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parExp" type="radio"  />
                                                    <span>3 и более лет</span>
                                                </p>

                                            </label>
                                        </p> 
                                    </div>
                                </div>

                                <div class="row">
                                  <div class="input-field col s12">
                                      <p style="color:#9e9e9e;">В каких направлениях общественной деятельности есть опыт участия? </p>
                                      <textarea placeholder="Введите ваш ответ" name="parSocityExp" id="parSocityExp" class="materialize-textarea" data-length="320"></textarea>
                                  </div>
                                </div>
                                
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="color:#9e9e9e;">Перечислите мероприятия, в которых Вы принимали участие за последние 2 года (не более 3-х, в том числе самое масштабное). Почему Вы выбрали именно эти мероприятия?</p>
                                        <textarea placeholder="Введите ваш ответ" name="parEventsExp" id="parEventsExp" class="materialize-textarea" data-length="320"></textarea>
                                    </div>
                                </div>   

                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="color:#9e9e9e;">Перечислите качества своего характера, которые Вы считаете сильными (не более 3-х)</p>
                                        <textarea placeholder="Введите ваш ответ" name="parCharacter" id="parCharacter" class="materialize-textarea" data-length="320"></textarea>
                                    </div>
                                </div>  

                                
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="color:#9e9e9e;">Перечислите стороны своей личности, которые Вы бы хотели изменить/улучшить/скорректировать? Почему?</p>
                                        <textarea placeholder="Введите ваш ответ" name="parStrengths" id="parStrengths" class="materialize-textarea" data-length="320"></textarea>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="color:#9e9e9e;">Почему Вы хотите принять участие в программе "Вектора" в этом году?</p>
                                        <textarea placeholder="Введите ваш ответ" name="parWhy" id="parWhy" class="materialize-textarea" data-length="320"></textarea>
                                    </div>
                                </div> 

                                 <div class="row">
                                     <div class="input-field col s12">
                                         <p>
                                            <label>Укажите свой размер свитшота (организаторы ничего не гарантируют, но максимально постараются учесть ваши пожелания))

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio" checked />
                                                    <span>XS</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio" />
                                                    <span>S</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio"  />
                                                    <span>M</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio"  />
                                                    <span>L</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio"  />
                                                    <span>XL</span>
                                                </p>

                                                <p>
                                                    <input class="with-gap" name="parSize" type="radio"  />
                                                    <span>XXL</span>
                                                </p>
                                             </label>
                                        </p> 
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="color:#9e9e9e;">Каждый участник команды обработку и публикацию указанных в заявке персональных данных в соответствии с действующим законодательством Российской Федерации разрешает, с обработкой персональных данных все участники команды согласны и несут ответственность за достоверность представленной информации.</p>
                                            <p>
                                                <input class="with-gap slaveAgremant" name="group3" type="radio"  />
                                                <span>Да</span>
                                            </p>                                                                           
                                    </div>
                                </div> 

                                <button type="submit">Add user</button>
                            </form>
                        </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                 </div>
                            </div>                                   
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
</section>

<!--About section-->

<section id="about">
 <div class="section section-icons  lighten-4 center\">
     <div class="container">
         <div class="row">
             <h3 class="title1 center"> <span class="owncolor">Наша</span> программа </h3>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro1.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Студенческое самоуправление
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Студенческое самоуправление
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Нормативно-правовая база, Организация и технологии проведения
                             выборов,
                             Корпоративная культура, Стратегическое планирование работы, Фандрайзинг,
                             Информационное освещение и
                             др.</p>
                     </div>
                 </div>
             </div>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro2.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Личностное развитие
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title  infotitle">Личностное развитие
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Лидерство, Личная эффективность,<br> Работа в команде, Мотивация и
                             др.</p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro3.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Ассессмент-центр
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Ассессмент-центр
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Сюжетно-игровой сценарий оценки личностных компетенций и
                             формирование индивидуального профиля развития навыков</p>
                     </div>
                 </div>
             </div>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro4.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Практическая работа
                             <i class="material-icons right">more_vert</i>
                         </h5>

                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Практическая работа
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Проектная сессия команд по анализу и развитию органов студенческого
                             самоуправления, деловые и досуговые игры</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>




<!--Team section-->

<section id="team">
 <div class="section section-icons  lighten-4 center\">
     <div class="container">
         <div class="row">
             <h3 class="title center"><span class="owncolor">Наша</span> команда</h3>
             <div class="col s12 m4">
                 <div class="icon-block ">
                     <a><img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/sonina.jpg"></a>
                     <h5 class="fio center" style="text-transform:none;">Елена <br> Сонина</h5>
                     <p class="bio light">Руководитель <br> проекта</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/elensonina">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/elen.sonina">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <a><img class=" mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/levinsk.jpg"></a>
                     <h5 class="fio center" style="text-transform:none;">Елена <br> Ливенская</h5>
                     <p class="bio light">Программный <br>директор, модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/e.livenskaya">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/elenalivenskaya">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>

             <div class="col s12 m4">
                 <div class="bio icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/kot.jpg">
                     <h5 class="fio center" style="text-transform:none;">Вероника <br> Катович</h5>
                     <p class="bio light">Координатор<br> штаба, модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/katovich_veronika1">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/katovich_veronika">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>

         <div class="row">
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/dernovaya.jpg">
                     <h5 class="fio center" style="text-transform:none;">Сергей <br> Шафоростов</h5>
                     <p class="bio light">Тренер АТ РСМ,<br> модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/re">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/shaforostov_s/">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/baba.jpg">
                     <h5 class="fio center" style="text-transform:none;">Елена <br> Бабенко</h5>
                     <p class="bio light">Тренер АТ РСМ,<br> модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/helenbabenko">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/madambabenko/">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/uru.jpg">
                     <h5 class="fio center" style="text-transform:none;">Радмир <br> Яруллин</h5>
                     <p class="bio light">Тренер АТ РСМ,<br> модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/yarullin">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="http://instagram.com/yarullin">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>

         </div>

         <div class="row">
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/nazar.jpg">
                     <h5 class="fio center" style="text-transform:none;">Анна <br> Назаренко</h5>
                     <p class="bio light">Асессор,<br> модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/anne.nazarenko">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/annushka_nazarenko">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/kira.jpg">
                     <h5 class="fio center" style="text-transform:none;">Людмила <br> Кирюхина</h5>
                     <p class="bio light">Асессор,<br> модератор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/lyusya1995">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/ludmila_kiryukhina">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/as9.jpg">
                     <h5 class="fio center" style="text-transform:none;">Ася <br> Магулаева</h5>
                     <p class="bio light">Асессор,<br> SMM-специалист</p>
                     <ul class="center ">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/a_magulaeva">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/a_sya_">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>

         <div class="row">
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class=" mamber materialboxed z-depth-3 responsive-img circle" src="./image/chern.jpg">
                     <h5 class="fio center" style="text-transform:none;">Анастасия <br> Чернова</h5>
                     <p class="bio light">Координатор СМИ</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/belugachernova">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/belugachernova">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/dezmand.jpg">
                     <h5 class="fio center" style="text-transform:none;">Андрей <br> Дзантиев</h5>
                     <p class="bio light">Видеооператор</p>
                     <ul class="center ">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/dezmand91">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/dezmand91">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/hz.jpg">
                     <h5 class="
       fio center" style="text-transform:none;">Диана <br> Миронова</h5>
                     <p class="bio light">Фотограф</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/loco.moloko">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/locomoloko/">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/chenko.jpg">
                     <h5 class="fio center" style="text-transform:none;">Роман <br> Фусточенко</h5>
                     <p class="bio light">Арт-директор</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/fustochenko">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/roman_fustochenko/">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/rus.jpg">
                     <h5 class="fio center" style="text-transform:none;">Руслан <br> Елманбетов</h5>
                     <p class="bio light">Ведущий</p>
                     <ul class="center">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/rusik_elmanbetov">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/ruslan.elm">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col s12 m4">
                 <div class="icon-block">
                     <img class="mamber materialboxed z-depth-3 responsive-img circle" src="./image/dimka.jpg">
                     <h5 class="fio center" style="text-transform:none;">Дмитрий <br> Сакичев</h5>
                     <p class="bio light">Звукорежиссер</p>
                     <ul class="center ">
                         <li>
                             <a target="_blank" class="social text" href="https://vk.com/d.sakichev">
                                 <i class="vk fab fa-vk fa-2x"></i>
                                 </i>
                             </a>
                             <a target="_blank" class="social text" href="https://www.instagram.com/sakichev_dimka">
                                 <i class="inst fab fa-instagram fa-2x"></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>

     </div>
 </div>
 </div>
 </div>
 </div>
</section>

<!--Contacts section-->
<section id="contacts">
 <div class="section section-icons white lighten-4 center\">
     <div class="container">
         <div class="section">
             <div class="row">
                 <div class="col s12 center">
                     <h3>
                         <i class="mdi-content-send brown-text"></i>
                     </h3>
                     <h3 class="title1 center "> <span class="owncolor">Наши</span> партнёры</h3>
                     <p id="mail" class="center-align light">Если вы хотите стать нашим партнёром или у вас
                         остались <br>
                         вопросы,
                         свяжитесь с нами по почте
                         <span style="color: #f2d243; text-shadow: 1px 1px 1px #000000"> Vectorskfo@gmail.com</span>
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Partnership -->

<section id="partners">
 <div class="container">
     <div>
         <div class="row">
             <div class="col s12 m3">
                 <a target="_blank" href="http://www.ruy.ru/"> <img id="rsm" class="spons" src="./image/spons2.png">
                 </a>
             </div>
             <div class="col s12 m3">
                 <a target="_blank" href="https://vk.com/aso_russia26"> <img class="spons" src="./image/aso.png"></a>
             </div>
             <div class="col s12 m3">
                 <a target="_blank" href="http://www.ncfu.ru/"> <img class="spons" src="./image/spons3.png"></a>
             </div>
             <div class=" col s12 m3">
                 <a target="_blank" href="https://fadm.gov.ru/"> <img class="spons" src="./image/spons1.png"></a>
             </div>
         </div>
     </div>
 </div>
</section>
<%- include('../layouts/footer.ejs') %>