<%- include('../layouts/navbar.ejs')%>

<div class="container teams-card">
<h1 class="title2 center"> <span class="owncolor"> Команда </span> <%= team.t_name %></h1>

      
            <a class="right linkButton" href="/teams.page" alt="Создать свою команду"> Назад</a>
  
</div>       




<%- include('../layouts/footer.ejs') %>